.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

/* Общие стили для всех страниц */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

/* Стили для текста */
p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Медиа-запросы */
@media (max-width: 768px) {
  .container {
      padding: 0 20px;
  }
}