.container-contact {
    padding: 120px 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.card {
    transition: transform 0.3s ease;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
}


.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.whatsapp-btn {
    background-color: #25D366;
    border-color: #25D366;
}

.whatsapp-btn:hover {
    background-color: #128C7E;
    border-color: #128C7E;
}

.telegram-btn {
    background-color: #0088cc;
    border-color: #0088cc;
}

.telegram-btn:hover {
    background-color: #006699;
    border-color: #006699;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 576px) {
    .social-buttons {
        flex-direction: column;
    }
    
    .social-buttons .btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .container-contact {
        padding: 20px;
    }
    
    .card {
        margin: 0 2px;
    }
}
